html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #78acc4;
  font-family: 'Jost', sans-serif;
}

.btn {
  width: 10rem;
  border-radius: 10px;
  height: 4vh;
  background-color: white;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 7px #4b6b7a;
}


.buttons {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 7rem;
}

h1{
  text-align: center;
  font-size: 4rem;
}

.inner {
  background-color: var(--secondary);
  border: solid black 1rem;
  border-radius: 6%;
  width: 62rem;
  height: 70rem;
  margin: 2%;
  font-size: 6rem;
}