<<<<<<< HEAD
#board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  height: 306px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 6px solid slategray;
=======
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #78acc4;
  font-family: 'Jost', sans-serif;
>>>>>>> 5c16901042748ea6ef3a70848118798ff669e211
}

.btn {
  width: 10rem;
  border-radius: 10px;
  height: 4vh;
  background-color: white;
  border: 0;
  cursor: pointer;
<<<<<<< HEAD
}

.cell:hover {
  background-color: #ddd;
}

.cell.x {
  color: #f00;
}

.cell.o {
  color: #00f;
}

#message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#reset {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid slategray;
  border-radius: 4px;
  cursor: pointer;
}

#reset:hover {
  background-color: #eee;
}
=======
  box-shadow: 2px 7px #4b6b7a;
  transition: 0.2s;
}
>>>>>>> 5c16901042748ea6ef3a70848118798ff669e211
