#board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  height: 306px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 6px solid slategray;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.cell:hover {
  background-color: #ddd;
}

.cell.x {
  color: #f00;
}

.cell.o {
  color: #00f;
}

#message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#reset {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid slategray;
  border-radius: 4px;
  cursor: pointer;
}

#reset:hover {
  background-color: #eee;
}
